<h1>Admin Dashboard</h1>

<% @orders.each do |order| %>
  <section class="order-<%= order.id %>">
    <%= link_to "#{order.user.name}", admin_user_path(order.user_id) %>
    <p>Order: <%= order.id %></p>
    <p>Created at: <%= order.created_at %></p>
    <p>Status: <%= order.status %></p>
    <p>Total Cost: $<%= order.grandtotal %></p>
  </section>
<% end %>
