<h1>Profile</h1>

<h2>Welcome <%= @user.name %>!</h2>

<p>E-mail:<br/><%= @user.email %><br/>
<p>Address: <br/><%= @user.address %><br/>
<%= @user.city %>, <%= @user.state %> <%= @user.zip %></p>
<br/>
<%= button_to "Edit Profile", users_path, method: :patch %>
