<h2>Order: <%= @order.id %><h2>
<h3 class="datecreated">Created: <%= @order.created_at%></h3>
<h3 class="dateupdated">Last Updated: <%= @order.updated_at%></h3>
<h3>Status: <%= @order.status%></h3>
<% if current_default? && (@order.status == 'pending' || @order.status == 'packaged') %>
  <%= button_to "Cancel Order", profile_order_path(@order.id), method: 'delete' %>
<% end %>
<section class = "shipping-address">
  <h3 align = "center">Shipping Info</h3>
  <table>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
    </tr>
    <tr>
      <td><p><%= @order.name %> </p></td>
      <td><p><%= @order.address %> </p></td>
      <td><p><%= @order.city %> </p></td>
      <td><p><%= @order.state %> </p></td>
      <td><p><%= @order.zip %> </p></td>
    </tr>
  </table>
</section>

<h3 align = "center">Order Info</h3>
<center>
  <table>
    <tr>
      <th></th>
      <th>Item</th>
      <th>Image</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
      <th>Fulfillment Status</th>
    </tr>
  <% items.each do |item_order|%>
    <tr>
      <section id = "item-<%=item_order.item_id%>">
        <td>
          <% if (controller.class.name.split("::").first=="Merchant") && @order.status == 'pending' %>
            <% if (item_order.status == 'unfulfilled') && (item_order.quantity <= item_order.item.inventory) %>
              <%= button_to 'Fulfill', merchant_item_order_path(item_order.id), method: :patch %>
            <% elsif item_order.status == 'fulfilled' %>
              <p>Item has already been fulfilled</p>
            <% else %>
              <p>Item cannot be fulfilled</p>
            <% end %>
          <% end %>
        </td>
        <td><p><%=link_to item_order.item.name, "/items/#{item_order.item_id}"%></p></td>
        <td><%= image_tag item_order.item.image %></td>
        <td><p><%= item_order.item.description %></p></td>
        <td><p><%= number_to_currency(item_order.price)%></p></td>
        <td><p><%= item_order.quantity%></p></td>
        <td><p><%= number_to_currency(item_order.subtotal)%></p></td>
        <td><p><%= item_order.status %></p></td>
      </section>
    </tr>
  <% end %>
</table>
<% if controller.class.name.split("::").first=="Profile" %>
  <section id="grandtotal">
    <p>Total: <%=number_to_currency(@order.grandtotal)%></p>
    <p>Total Items: <%= @order.item_count %></p>
  </section>
<% end %>